<!-- <header>

</header> -->
<header>
  <img
    class="d-block d-sm-none"
    src="../../../../assets/images/general/banner.svg"
  />
  <div class="container mx-auto d-none d-sm-block">
    <div class="row">
      <div class="col-3 col-sm-5 col-md-3 text-left">
        <img src="../../../../assets/images/general/logo-bb-cv.svg" />
      </div>
      <div
        class="
          col-4 col-sm-6 col-md-4
          offset-5 offset-sm-1 offset-md-5
          text-right
        "
      >
        <img src="../../../../assets/images/general/bg-header.svg" />
      </div>
    </div>
  </div>
</header>
