.h-card-account {
  min-height: 95px;
}

.border-account-card-options {
  border-top: 1px solid grey !important;
  border-right: 1px solid grey !important;
  border-bottom: 1px solid grey !important;
  border-left: 5px solid $bb-caja-verde-var-bootstrap-secondary !important;
}
