.back{
  height: 10vh;
  border-color:#b9b4b4 !important;
  border-radius: 15px !important;
  color: #b9b4b4 !important;
}

.send{
  height: 10vh;
  border-color: $bb-caja-verde-var-bootstrap-warning !important;
  border-radius: 15px !important;
  color: $bb-caja-verde-var-bootstrap-warning !important;
}
